<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{% block title %}DEFAULT TITLE{% end %}</title>
    <script src="http://platform.twitter.com/anywhere.js?id={{ api_key }}&v=1" type="text/javascript"></script>
    <!-- TODO use minified later -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.js" type="text/javascript"></script>
    <link rel="stylesheet" href="{{ static_url("twink.css") }}" type="text/css" media="screen" />
    {% block extra_css %}{% end %}
    {% block extra_js %}{% end %}
    {% block twitter_anywhere_js %}{% end %}
  </head>
  <body>
    {% block header %}<h1>DEFAULT HEADER</h1>{% end %}
    {% block content %}DEFAULT CONTENT{% end %}
    {% block footer %}DEFAULT FOOTER{% end %}
  </body>
</html>


