{% extends "base.html" %}

{% block title %} Twink {% end %}

{% block twitter_anywhere %}
  <script type="text/javascript">
    twttr.anywhere(function (T) {
      T.linkifyUsers();
    });
    twttr.anywhere(function (T) {
      T.hovercards();
    });
  </script>
{% end %}

{% block content %}
  Follow me: @xtrahotsauce<br />
  <a href="/authenticate">
    <img src={{ static_url("sign-in-with-twitter-button.png") }} alt="Sign In With Twitter" />
  </a>
  Log in with Twitter to see your links!<span id="login"></span>
{% end %}


{% block footer %}
  <span id="follow-xtrahotsauce"></span>
{% end %}
