{% extends "base.html" %}

{% block title %} Twink {% end %}

{% block twitter_anywhere %}
  <script type="text/javascript">
    twttr.anywhere(function (T) {
      T.linkifyUsers();
    });
    twttr.anywhere(function (T) {
      T.hovercards();
    });
  </script>
{% end %}

{% block content %}
  Follow me: @xtrahotsauce<br />
  {% if not current_user %}
    <a href="/authenticate">
      <img src={{ static_url("sign-in-with-twitter-button.png") }} alt="Sign In With Twitter" />
    </a><br />
  {% end %}
  {% if links %}
    {% for link in links %}
      {{ modules.Link(link) }}
    {% end %}
  {% end %}
{% end %}


{% block footer %}
  <span id="follow-xtrahotsauce"></span>
{% end %}
